
body{
  background-color: red;
  max-width: 1366px;
  max-height: 768px;
  margin: auto;
  background: white;
  padding: 10px;
}

.login-container{
  width: 1366px;
  height: 768px;
  background-color: red;
}

.login-container-login{
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: auto;
}
