body{
  background-color: red;
  max-width: 1366px;
  max-height: 768px;
  margin: auto;
  background: white;
  padding: 10px;
  background-color: #363434;
}

.login-container{
  width: 1366px;
  height: 768px;
  margin: auto;
  padding: 10px;
  background-color: #363434;
}

.login-container-login{
  text-align: center;
  width: 30%;
  height: 50%;
  margin: auto;
  margin-top: 200px;
  padding: 15px;
  background-color: #031d40;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px;
  border-radius: 15px;
}

.login-container-login h1{
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 2px;
  color: white;
  text-shadow: 2px 2px;
}

.login-container-login-form input{
  margin: 0px 10px 5px 10px;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  border-style: hidden;
  width: 80%;
  height: 30px;
  font-size: 100%;
  text-align: center;
}

.login-container-login-form input[type=submit]{
  margin: 10px 0px 10px 0px;
  background-color: green;
  width: 80%;
  height: 30px;
}

.login-container-login-form hr{
  margin-top: 90px;
  width: 70%;
  color: #031d40;
}
